#header {
  background-color: gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top-left-radius: 1rem;
  padding: .5rem;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */

  .logo {
    align-self: flex-start;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .menu-item {
    min-width: 10rem;
    display: flex;

    a {
      padding: .5rem;
      flex-grow: 1;
      text-decoration: none;

      &:hover {
        background-color: lighten(gray, 10%);
      }
    }
  }

  nav.main {
    flex-grow: 1;
  }

  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .menu ul li > ul {
    flex-direction: column;
  }
}
